.item-wrapper {
    width: 33.3333%;
    box-sizing: border-box;
    padding: 18px;
}
.item {
    width: 100%;
    height: 100%;

}
.article-img {
    height: 176px;
    width: 100%;

    border-radius: 42px 42px 0 0;
    position: relative;
    overflow: hidden;
}
.description {
    padding-left: 22px;
}
.description h3 {
    margin-top: 22px;
    margin-bottom: 4px;
    font-weight: 500;
}
.description p {
    margin: 0 0 16px 0;
    font-weight: 300;
    height: 144px;
}
.description a {
    background-color: gold;
    color: rgb(0, 0, 0);
    padding: 6px 18px;
    border-radius: 10px;
    display: inline-block;
    box-sizing: border-box;
}

@media only screen and (max-width: 1200px) {
    .description p {
        height: 166px;
    }
}
@media only screen and (max-width: 992px) {
    .item-wrapper {
        width: 50%;
    }
    .description p {
        height: 148px;
    }
}
@media only screen and (max-width: 768px) {
    .description {
        padding-left: 0;
    }
    .description p {
        height: 190px;
    }
}
@media only screen and (max-width: 600px) {
    .item-wrapper {
        width: 100%;
    }
    .article-img {
        height: 232px;
    }
    .description p {
        height: 140px;
        text-align: center;
    }
    .description h3 {
        text-align: center;
        margin-top: 10px;
        margin-bottom: 6px;
    }
    .description a {
        width: 100%;
        text-align: center;
    }
    .item-wrapper {
        padding-bottom: 28px;
    }
    .description a {
        padding: 10px 18px;
        font-size: 18px;
    }
}