.wrapper {
  width: 100%;
  height: 196px;
  display: flex;
  margin: 18px 0;
}
.item {
  height: auto;
  width: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-sizing: border-box;
  transition: 0.4s border ease-in-out;
}
.item:hover {
    border: 4px solid #ffff00ba;
}
.item span {
    position: relative;
    background-color: #ffff00ba;
    padding: 6px 18px;
    border-radius: 4px;
    font-size: 24px;
}
@media only screen and (max-width: 500px) {
  .wrapper {
    height: auto;
    display: block;
  }
  .item {
    width: 100%;
    height: 174px;
  }
}