.items {
    box-sizing: border-box;
    border-radius: 6px;
    width: 100%;
    padding-top: 4px;
}
.search-results {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-shadow: 0px 0px 9px 1px rgb(0 0 0 / 4%);
    -moz-box-shadow: 0px 0px 9px 1px rgb(0 0 0 / 4%);
    box-shadow: 0px 0px 9px 1px rgb(0 0 0 / 4%);
    border-radius: 6px;
}
.search-results h1 {
    width: 100%;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 6px;
    color: #031d03;
}

.search-results h2 {
    width: 100%;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 6px;
    color: #031d03;
}
@media only screen and (max-width: 600px) {
    .search-results {
        box-shadow: none;
    }
    .search-results h1 {
        font-size: 20px;
    }
    .search-results h2 {
        font-size: 20px;
    }
}