.sidebar-ad {
    height: 200px;
    width: 100%;
    background-color: #8a2be245;
    border-radius: 4px;
    margin-bottom: 26px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.sidebar-ad span {
    position: absolute;
    z-index: 1;
    background-color: #ffff00d1;
    bottom: 4px;
    width: 100%;
    text-align: center;
    padding: 4px 0;
}
@media only screen and (max-width: 1200px) {
    .sidebar-ad{
        margin-left: 6px;
    }
}
@media only screen and (max-width: 991px) {
    .sidebar-ad{
        width: 49%;
        margin-left: 0;
    }
}
@media only screen and (max-width: 500px) {
    .sidebar-ad{
        width: 100%;
    }
}