.sidebar-ad {
    height: 200px;
    width: 100%;
    background-color: #8a2be245;
    border-radius: 4px;
    margin-bottom: 26px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.description {
    position: absolute;
    background-color: #0c0c00cf;
    bottom: 4px;
    width: 100%;
    display: flex;
    color: white;
    padding: 6px 8px;
    box-sizing: border-box;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 300;
}
.location-title {
    margin-left: 2px;
}

@media only screen and (max-width: 1200px) {
    .sidebar-ad{
        margin-left: 6px;
    }
}
@media only screen and (max-width: 991px) {
    .sidebar-ad{
        width: 49%;
        margin-left: 0;
    }
}
@media only screen and (max-width: 500px) {
    .sidebar-ad{
        width: 100%;
    }
}