.social {
    width: 100%;
    font-size: 22px;
    -webkit-box-shadow: 0px 0px 8px 1px rgb(0 0 0 / 23%);
    -moz-box-shadow: 0px 0px 8px 1px rgb(0 0 0 / 23%);
    box-shadow: 0px 0px 8px 1px rgb(0 0 0 / 23%);
    margin-bottom: 26px;
    background-color: #363636;
    border-radius: 4px;
}
.items {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
.social span {
    color: #e1e1e1;
    margin-left: 8px;
    transition: 0.3s color ease-in-out;
}
.item {
    display: flex;
    align-items: center;
    margin: 12px 0;
}
.social .telegram:hover {
    color: #40b9f6;
}
.social .instagram:hover {
    color: #ff156b;
}
.social .tiktok:hover {
    color: #69c9d0;
}
.social .twitter:hover {
    color: #2ba4f3;
}

@media only screen and (max-width: 1200px) {
    .social {
        display: flex;
        align-items: center;
    }
    .item {
        margin: 26px 0;
    }
}
@media only screen and (max-width: 991px) {
    .social{
        width: 49%;
    }
}
@media only screen and (max-width: 500px) {
    .social {
        margin-bottom: 18px;
    }
    .social{
        width: 100%;
    }
}